.App{
    width: 100%;
}
.titleNews{
    text-align: center;
    font-size:3rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 2rem;
    color: #f68e1e;
    font-weight: bolder;
}

@media (max-width: 991px){
    .titleNews{
        width: 100%;
    }

    .App{
        width: 100%;
    }
}

