.newsGrid{
    display:grid;
    grid-template-columns:repeat(auto-fill, 250px);
    gap: 40px;
    padding: 40px;
    justify-content: space-evenly;
}


@media (max-width:560px){
    .newsGrid{
        grid-template-columns: 100%;
    }
}