.categoryTitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    border-bottom: 4px solid black;
    padding: .4rem 0 .4rem 0;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3.5rem;
}

.newsUl{
    padding: 0;
}

.newsGrid{
    display:grid;
    grid-template-rows:repeat(auto-fill, 260px);
    grid-gap: 20px;
    padding: 40px;
    width: 70%;
    justify-content: center;
}


@media (max-width:480px){
    
}