.newsCard{
    list-style: none;
    font-size: 1rem;
    text-align: center;
}

.newsImage{
    border-radius: 10px;
    width :230px;
    height: 345;
}

@media (max-width: 560px){
    .newsImage{
        width: 90%;
        height: auto;   
    }
}